.t1{color: hotpink;}
.t2{color: indigo;}
.t3{color: gold;}
.t4{color: blueviolet;}
.t5{color: blue;}
.t6{color: brown;}
.t7{color: green;}
.t8{color: salmon;}
.t9{color: greenyellow;}
.t10{color: fuchsia;}